.font-weight-500{
	font-weight: 500;
}
.padding-top-50{
	padding-top: 50px
}
.form-control{
	border: 2px solid #0f5aff;
	border-radius: 4px !important;
}
.form-control:focus {
    border: 2px solid #93a1bb;
}
.retaurant_image{
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
}
.portlet-body h1 {
    margin:0px;
    padding:0px;
    color:#0f5aff;
    font-weight: bold;
}

button {
    border: 0px;
    background: none;
}

.image-upload > input
{
    display: none;
}