<div class="portlet-body col-xs-12 col-md-8 col-lg-8 no-space">
    <h1 style="margin:0px;padding:0px;color:#0f5aff;font-weight: bold;">Second: Connect with Stripe</h1>
    <p>You have two kind of accounts: administrator and employee.<br>
    You will be able to manager all aspects of the account.</p>
    <a style="background-color: transparent; border-color: transparent;" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_APVZPJSguUG5RIVTvep4NVO75t3tFFd9&scope=read_write" class="btn btn-default"><img src="../assets/custom/img/connect/blue-on-light.png"/></a>

    <div class="portlet-body" style="height: 490px;">
    <!-- BEGIN FORM-->
        <form action="#" id="form_sample_2">
            <div class="form-body">
            </div>

            <div class="form-actions">
            </div>
        </form>
    <!-- END FORM-->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a routerLink="/step3"  style="float:right;color:#0f5aff">Set your restaurant location <i class="fa fa-long-arrow-right"></i></a>
    </div>
</div>