

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .mt-element-overlay .mt-overlay-6 img{
    height: 194px;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .mt-element-overlay .mt-overlay-6 img{
    height: 194px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

.mt-element-overlay .mt-overlay-6 h2{
	margin-top: 0;
}