<div style="padding: 40px 0px 40px 0px;">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

        <a [routerLink]="['/home']">
            <img alt="image" src="../../../assets/custom/img/logo.png" style="width:100px;height:100px;">
        </a>

    </div>
            <p class="plogin">Login</p>
            <p class="pmessage">Please write your email used for the account and the respective password</p>

            <form class="m-t" role="form" (ngSubmit)="f.form.valid && login()" #f="ngForm">
                <!-- <input type="hidden" name="_token" value="S35plkweG6BESm3ksBFhqIb0NE3CbLVmGsiLhfOg"> -->
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email" required="" value="" [(ngModel)]="model.email" #email="ngModel">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" required="" [(ngModel)]="model.password" #password="ngModel">
                </div>

                <div class="form-group" [ngClass]="{'has-error': message }">
                    <span class="help-block" *ngIf="message">
                        <strong>{{message}}</strong>
                    </span>
                </div>

                <div class="form-group margin-nt">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember"> Keep me login
                        </label>
                    </div>
                </div>

                <button [disabled]="loading" type="submit" class="btn btn-danger btn-fix-color block full-width m-b">Login</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a [routerLink]="['/register']"><small>I don't have an account</small></a>
                                    </form>

            <p class="m-t"> <small><strong>Copyright</strong> OTSAW Digital Inc © 2015-2016</small> </p>    </div>
    </div>
    <!-- </body> -->
</div>