.margin-nt{
    margin-top: 40px; 
}

.checkbox{
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.btn-fix-color{
    background: #ff4646 !important;
    color: white;
}

.plogin {
    font-weight: bold;
    line-height: 37px;
    font-size: 22px;
}

.pmessage {
    padding: 5px 0px;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .middle-box {
        width: 320px !important;
    }
}